{% extends 'clean.html.twig' %}

{% block title %}Hello Page  add POST !
{% endblock %}

{% block header %}

	<header class="masthead" style="background-image: url('{{ asset('clean/assets/img/about-bg.jpg') }}')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="page-heading">
						<h1>Ajouter un Post</h1>
						<span class="subheading">Ajouter un post ou un article</span>
					</div>
				</div>
			</div>
		</div>
	</header>

{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h1>Ajout d'un post :query builder
		</h1>
		<p>

			public function findLastPosts(int $nb = 5)
												    {
												        return $this->createQueryBuilder('p')
												            ->andWhere('p.active = :active')
												            ->setParameter('active', true)
												            ->orderBy('p.createdAt', 'DESC')
												            ->setMaxResults($nb)
												            ->getQuery()
												            ->getResult()
												        ;
												    }
		</p>
		<p>

			{{post}}

		</p>
	</div>
{% endblock %}
